.page-content {
  margin-top: 20px;
}

.leader-table {
  max-width: 400px;
}

.score-entry {
  max-width: 300px;
}

.navbar-custom {
  background-color: #10053c;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: white;
}
